body {
    background-color: #000000!important;
}

.container1 {
    max-width: 700px!important;
    margin: 50px auto;
    background-color: hsl(243, 68%, 52%, 20%);
    border-radius: 10px;
    padding: 30px;
    color: white;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}
.life{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: transparent;
}
.input-group {
    margin-bottom: 20px;
}

.form-check {
    margin-bottom: 20px;
}

.list-group-item {
    border-radius: 5px;
    margin-bottom: 10px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
.mew:hover{
    color: blue;
}
.fol{
    margin-left: 240px;

}
#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#backToTopBtn:hover {
    background-color: #0056b3;
}
.dark-mode {
    background-color: #000000!important;
    color: #ffffff!important;
}
footer .text-light a:hover .bi {
    color: #007bff!important;
}
